<div class="container">
  <div class="show-head">
    <h1><%= @user.first_name %> <%= ('"' + @user.nickname + '"') if @user.nickname && !@user.nickname.empty? %> <%= @user.last_name %></h1>
    <% if @user.member %>
      <h6>Member of the redC Team</h6>
      <% if @user.role %>
        <h6><%= @user.role %></h6>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-8">
    <!--<div class="profile-pic">
      <% if @user.profile_picture %>
        <%= link_to image_tag(@user.profile_picture.image.url(:profile)), @user.profile_picture.image.url %>
      <% end %>
    </div>-->

    <div class="user-about">
      <% if @user.about %>
        <h3>About</h3>
        <p><%= @user.about %></p>
      <% end %>
    </div>
  </div>

  <div class="info col-md-4">
    <h3>Information</h3>
    <p><b>Email:</b> <%= @user.email %></p>
  </div>

  <!-- current_user && (current_user.id == @user.id || -->
  <% if current_user && current_user.permission >= 4 %>
    <small><%= link_to "Manage", manage_path(@user) %></small>
  <% end %>
</div>
